<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/sitestyles.css">
</head>

<body>
    <div class="title">Roll Call</div>
    {{{body}}}
</body>

</html>