<head>
    <meta charset="utf-8">
    <title>Error Page</title>
    <link rel="stylesheet" href="/public/css/sitestyles.css">
</head>
<body class="error_body" id="errors">
    <p class="{{error_class}}">{{message}}</p>
    <a class="error_home" href="{{error_route}}">Go Back</a>
    <script src='/public/js/form_validate.js'></script>
</body>