<div class="homepage">
    <header>
        <h1>Organizations</h1>
    </header>
    <a class="create_org" href="/createorganization">Create a new organization</a>
    {{#if orgList}}
    <div id="user_orgs">
        <h2>Your Organizations</h2>
        <ul id="user_orgs_list" class="org-list">
            {{#each orgList}}
            <li class="org-list-item">
                <a href="/organization/{{this}}">{{this}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
    {{/if}}
    <div id="discover_orgs">
        <form id="searchOrgForm" method="POST" action="/organization">
            <label for="org_search_term">Search for an Organization</label>
            <input id="org_search_term" name="org_search_term" type="text">
            <button id="orgSubmit" name="orgSubmit" type="submit">Enter</button>
        </form>
        <h2 id="searchError" hidden></h2>
    </div>
    <a id="signoutLink" href="/signoutuser">Sign out</a>
    <script src='/public/js/form_validate.js'></script>
</div>