<div id="leave" class="leave-org-page">
    <a class="sign_in" href="/organization/{{orgName}}">Click here to go back to {{orgName}}</a>
    <div>
        <h2>Are you sure you want to leave {{orgName}}?</h2>
        <form id="leave-org-form" method="POST" action="/leaveorganization/{{orgName}}">
            <button id="submitButtonLeaveOrg" name="submitButtonLeaveOrg" type="submit">Yes!</button>
        </form>
    </div>
</div>