<head>
    <meta charset="utf-8">
    <title>{{orgData.orgName}}</title>
    <link rel="stylesheet" href="/public/css/sitestyles.css">
</head>

<body>
<a class="home" href="/home">Back Home</a>
<a class="leaveOrg" href="/leaveorganization/{{orgData.orgName}}">Leave This Org</a>
<h1>{{orgData.orgName}}</h1>
<script src='/public/js/main.js'></script>
</body>