<head>
    <meta charset="utf-8">
    <title>{{orgName}} Register</title>
    <link rel="stylesheet" href="/public/css/sitestyles.css">
</head>

<body>
<h1>Register With {{orgName}}</h1>
<a class="home" href="/home">Back Home</a>
<main>
    <form id="org-signin-form" method="POST" action="/signinorganization/{{orgName}}">
        <label for="password">Enter Password: </label>
        <input type="password" id="password" name="password">
        <button id="org_submit_button" name="org_submit_button" type="submit">Submit</button>
    </form>
    <script src='/public/js/form_validate.js'></script>
</main>
<script src='/public/js/main.js'></script>
</body>