<head>
    <meta charset="utf-8">
    <title>Sign Out</title>
    <link rel="stylesheet" href="/public/css/sitestyles.css">
</head>

<body id="out">
    <a class="sign_in" id="back_to_signin" href="/signinuser">Click here to sign-in</a>
    <p>You have been logged out!</p>
</body>